<div class="prepend-1 span-8 last">

<h2>Please log in</h2>

<%= error_messages_for :user %>
<% form_for(:user) do |f| %>

<p />
Username <br>
<%= f.text_field :login %>

<p />
Password <br>
<%= f.password_field :password %>
 
<p />
<%= f.submit 'Login' %>
<% end %>

</div>
